@import '@/lib/reset.scss';

.container {
  @include rect(100%, 100%);
  @include flexbox();
  @include flex-direction(column);
  .detail_header {
    @include rect(100%, .44rem);
    position: fixed;
    top: 0;
    z-index: 100;
    // background: #fff;
    @include flexbox();
    @include align-items();
    .detail_header-back, .detail_header-share, .detail_header-more {
      @include rect(.23rem, .23rem);
      @include flexbox();
      @include justify-content();
      @include align-items();
      border-radius: 50%;
      background: rgba(0, 0, 0, .5);
      margin-left: .08rem;
      i {
        @include rect(.1rem, .19rem);
      }
    }
    .detail_header-share {
      i {
        @include rect(.18rem, .18rem);
      }
    }
    .detail_header-more {
      margin: 0 .17rem 0 .06rem;
      i {
        @include rect(.17rem, .04rem);
      }
    }
    .detail_header-title {
      @include flex();
      @include flexbox();
      margin-left: 10%;
      // opacity: 0;
      li {
        // display: none;
        @include rect(30%, 100%);
        a {
          display: block;
          @include rect(100%, 100%);
          font: .16rem/.5rem "";
          text-align: center;
          color: #101010;
          &.active {
            border-bottom: 2px solid #ccc;
          }
        }

      }
    }
  }

  .detail_main {
    @include flex();
    @include rect(100%, auto);
    background: #f8f8f8;
    .detail_main-banner {
      .banner {
        @include rect(100%, 3.49rem);
        background: #eee;
      } 
    }
    .detail_main-introduce {
      @include rect(100%, 1.09rem);
      padding-top: .22rem;
      background: #fff;
      .price {
        @include rect(100%, .18rem);
        font-size: .14rem;
        color: #c00;
        padding-left: .08rem;
        span {
          font-size: .2rem;
        }
      }
      .title {
        font-size: .15rem;
        font-weight: 700;
        color: #333;
        padding-left: .08rem;
        margin-top: .11rem; 
      }
      .smallTitle {
        font-size: .13rem;
        font-weight: 700;
        color: #333;
        padding-left: .08rem;
        margin-top: .08rem; 
      }
    }
    .detail_main-adress,.detail_main-coupon {
      @include rect(100%, .44rem);
      @include flexbox();
      @include align-items();
      background: #fff;
      font-size: .15rem;
      .left {
        color: #999;
        margin: 0 .17rem 0 .08rem;
      }
      .center {
        @include flex();
        color: #333;
      }
      .right {
        @include rect(.1rem, .18rem);
        margin-right: .14rem;
        background: url('./../../images/detail/rightback.png') no-repeat center;
      }
    }

    .detail_main-coupon {
      margin: .06rem 0;
    }
  }

  .detail_footer {
    @include rect(100%, .5rem);
    @include flexbox();
    .detail_footer-customer, .detail_footer-collection, .detail_footer-cart {
      @include rect(13%, 100%);
      @include flexbox();
      @include flex-direction(column);
      @include justify-content();
      @include align-items();
      i {
        @include rect(.12rem, .17rem);
      }
    }
    .detail_footer-button {
      @include flex();
      @include flexbox();
      @include justify-content();
      @include align-items();
      font-size: .14rem;
      color: #fff;
      .addCart {
        @include rect(1.07rem, .36rem);
        border-radius: .18rem 0 0 .18rem;
        border: none;
        background: #ff9800;
      }
      .buyNow {
        @include rect(1.07rem, .36rem);
        border-radius: 0 .18rem .18rem 0;
        border: none;
        background: #e51c21;
      }
    }
  }

  .detail_more {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    .detail_more-info {
      position: absolute;
      right:.08rem;
      top: .47rem;
      @include rect(1.16rem, 1.16rem);
      background: #fff;
      @include border-radius(.05rem);
      .triangle {
        position: absolute;
        right: .1rem;
        top: -.11rem;
        @include rect(0, 0);
        border-bottom: .11rem solid #fff;
        border-left: .1rem solid rgba(0,0,0,0);
        border-right: .1rem solid rgba(0,0,0,0);
      }
    }
    .detail_more-other {
      @include rect(100%, 100%);
    }
  }
  
  .detail_main-moreAdress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(0,0,0,.5);
    .other {
      @include rect(100%, 100%);
    }
    .adress {
      @include rect(100%, 3.12rem);
      background: #fff;
      position: absolute;
      bottom:0;
      border-radius: .08rem .08rem 0 0;
      @include flexbox();
      @include flex-direction(column);
      overflow: hidden;
      .top {
        @include rect(100%, .38rem);
        text-align: center;
        font: .16rem/.38rem "";
        color: #333;
        // border-bottom: 1px solid #eee;
        position: relative;
        .cancel {
          position: absolute;
          right: .1rem;
          top: .13rem;
          @include rect(.12rem, .12rem);
          background: url( './../../images/detail/cancel.png') no-repeat center;
        }
      }

      .adressInfo {
        @include flex();
        @include rect(100%, auto);
        overflow: auto;
        li {
          @include rect(100%, .55rem);
          border-bottom: 1px solid #eee;
          @include flexbox();
          @include align-items();
          .icon {
            @include rect(.16rem, .16rem);
            margin: 0 .15rem 0 .08rem;
            background: url( './../../images/detail/check.png') no-repeat center;
          }
          .tel {
            @include align-self(start);
            margin: .14rem .18rem 0 0;
            font-size: .12rem;
            color: #333;
          }
          .information {
            @include flex();
            p {
              font-size: .11rem;
              i {
                display: inline-block;
                @include rect(.1rem, .12rem);
                margin-right: .03rem;
                background: url( './../../images/detail/position.png') no-repeat center;
              }
            }
          }
          &.active {
            .icon {
              background: url( './../../images/detail/checked.png') no-repeat center;
            }
        }
        }
      }

      .addAdress {
        @include rect(100%, .44rem);
        text-align: center;
        font: .15rem/.44rem "";
        color: #333;
        background: #f8f8f8;
      }
    }
  }

  .detail_main-otherAdress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(0,0,0,.5);
    .other {
      @include rect(100%, 100%);
    }
    .adress {
      @include rect(100%, 4.45rem);
      background: #fff;
      position: absolute;
      bottom:0;
      border-radius: .08rem .08rem 0 0;
      @include flexbox();
      @include flex-direction(column);
      overflow: hidden;
      .top {
        @include rect(100%, .38rem);
        text-align: center;
        font: .16rem/.38rem "";
        color: #333;
        // border-bottom: 1px solid #eee;
        position: relative;
        .cancel {
          position: absolute;
          right: .1rem;
          top: .13rem;
          @include rect(.12rem, .12rem);
        }
      }
      .choose {
        @include flex();
        @include rect(100%, auto);
        @include flexbox();
        @include flex-direction(column);
        overflow: hidden;
        p {
          @include rect(100%, .2rem);
          font-size: .12rem;
        }
        ul {
          @include flex();
          @include rect(100%, auto);
          overflow: auto;
          li {
            @include rect(100%, .35rem);
            border-bottom: 1px solid #eee;
            a {
              display: block;
              @include rect(100%, 100%);
              font: .12rem/.35rem "";
              color: #333;
              padding-left: .08rem;
            }
          }
        }
      }
    }
  }

  .detail_main-otherCoupon {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(0,0,0,.5);
    .other {
      @include rect(100%, 100%);
    }
    .coupon {
      @include rect(100%, 4.45rem);
      background: #fff;
      position: absolute;
      bottom:0;
      border-radius: .08rem .08rem 0 0;
      @include flexbox();
      @include flex-direction(column);
      overflow: auto;
      .top {
        @include rect(100%, .38rem);
        text-align: center;
        font: .16rem/.38rem "";
        color: #333;
        border-bottom: 1px solid #eee;
        position: relative;
        .cancel {
          position: absolute;
          right: .1rem;
          top: .13rem;
          @include rect(.12rem, .12rem);
          background: url( './../../images/detail/cancel.png') no-repeat center;
        }
      }
      .received {
        @include rect(100%, auto);
        .title {

          @include rect(100%, .22rem);
          font: .16rem/.22rem "";
          color: #333;
          margin-top: .12rem;
        }
        ul {
          @include rect(100%, auto);
          li {
            @include rect(3.59rem, .76rem);
            margin: 0 auto .15rem;
            background: url( './../../images/detail/couponbg.png') no-repeat center;
            @include flexbox();
            @include align-items();
            .price {
              @include rect(.89rem, .6rem);
              text-align: center;
              p {
                font-size: .26rem;
                color: #fff;
                height: .3rem;
              }
              span {
                font: .12rem/.26rem "";
                color: #fff;
              }
            }
            .vertical {
              @include rect(1px, .48rem);
              background: #fff;
            }
            .produce {
              @include flex();
              font: .12rem/.3rem "";
              color: #fff;
              padding-left: .17rem;
            }
            .state {
              @include rect(.55rem, .18rem);
              @include border-radius(.03rem);
              text-align: center;
              @include box-sizing();
              font: .12rem/.16rem "";
              color:#fff;
              margin-right: .11rem;
              border: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}