@import '@/lib/reset.scss';
html, body, #root, .container {
  @include rect(100%, 100%);
  @include background-color(#fff);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  main {
    @include flex(1);
    @include rect(100%, auto);
    overflow: auto;
  }
  @import url('//at.alicdn.com/t/font_1225232_e28vy1kaiqv.css');
footer {
    @include flex(0 0 0.49rem);
    width: 100%;
    padding: 0 .25rem;
ul {
    @include flexbox();
    width: 100%;
    height: .49rem;
    justify-content: space-between;
    align-items: center;
        li {
            text-align: center;
            span {
              display: block;
              width: 0.4rem;
              width: .3rem;
              height: .3rem;
              background: url('../images/common/footer.png') no-repeat;
              background-size: 1.2rem .6rem;
              background-position: 0 -.3rem;
              &.find-icon {
                background-position: -.3rem -.3rem;
              }
              &.fashion-icon {
                background-position: -.6rem -.3rem;
              }
              &.user-icon {
                background-position: -.9rem -.3rem;
              }
            }
            p {
              font-size: .1rem;
              line-height: .1rem;
              height: .1rem;
              margin-top: .03rem;
            }
            a {display: block;color: #999;}
            a.active {
              color: #e10303;
              span {
                &.home-icon {
                  background-position: 0 0;
                }
                &.find-icon {
                  background-position: -.3rem 0;
                }
                &.fashion-icon {
                  background-position: -.6rem 0;
                }
                &.user-icon {
                  background-position: -.9rem 0;
                }
              }
            }
        }
    }
  }
}