@import '@/lib/reset.scss';

.container {
  .find_check-header {
    @include rect(100%, .3rem);
    position: relative;
    text-align: center;
    font: .16rem/.3rem "";
    .back {
      position: absolute;
      margin-left: .05rem;
      @include rect(.45rem, 100%);
      font: .14rem/.3rem "";
      left: 0;
      top: 0;
    }
    .cart {
      position: absolute;
      @include rect(.45rem, 100%);
      right: 0;
      top: 0;
      background: #ccc;
    }
    
  }
}